* {
  text-align: center;
  margin: 0 0 0 0 auto;
  scroll-behavior: smooth;
}

.Content {
  padding: 32px 0px;
}

.topNav {
  position: absolute;
  display: flex;
  flex-direction: row;
  top: 8px;
  right: 16px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: clamp(0.2em, 0.75em, 0.75em);
  line-height: 28px;
  text-align: center;
  color: black;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 1;
}

.topNav a {
  padding-left: 22px;
  text-decoration: none;
}

.topNav a:visited {
  color: black;
}

.topNav a:hover {
  color: rgb(50, 121, 226);
  transition-duration: 0.5s;
}

.Hero {
  position: relative;
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
}

.Hero #background {
  position: relative;
  background-image: url(./images/heroBackground.jpg);
  clip-path: polygon(0 0, 75% 0, 29% 100%, 0% 100%);
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  animation-name: clipPath;
  animation-duration: 3.5s;
}

@keyframes clipPath {
  from {
    clip-path: polygon(0 0, 0% 0, 0% 0%, 0% 0%);
  }
  to {
    clip-path: polygon(0 0, 75% 0, 29% 100%, 0% 100%);
  }
}

.Hero #color {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #c4c4c4;
}

.Titles {
  position: absolute;
  animation: fadeIn;
  animation-duration: 6.5s;
}

@keyframes fadeIn {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

.Titles h1 {
  font-family: Agency FB;
  font-style: normal;
  font-weight: normal;
  font-size: 3em;
  line-height: 85px;
  text-align: center;
  color: black;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin: 0;
  padding-top: 30px;
}

.Titles h2 {
  text-align: center;
  font-family: Agency FB;
  font-style: normal;
  font-weight: normal;
  font-size: clamp(0.75em, 2em, 2.5em);
  line-height: 85px;
  text-align: center;
  color: black;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding-right: 20px;
}

.Hero img {
  border: 5px solid #000000;
  border-radius: 210px;
}

.About {
  min-height: 500px;
  background: #c4c4c4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.About p {
  font-family: Helvetica Neue LT Pro;
  font-style: normal;
  font-weight: normal;
  text-align: center;
  letter-spacing: 0.05em;
  color: #171717;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 1.5em;
  line-height: 2em;
  width: clamp(45ch, 50%, 75ch);
}

.Project {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #c4c4c4;
  min-height: 500px;
}

.Project h1 {
  font-family: Unispace;
  font-style: normal;
  font-weight: bold;
  font-size: 3em;
  line-height: 77px;
  text-align: center;
  color: #1b75b3;
  text-shadow: 0px 10px 4px rgba(0, 0, 0, 0.3);
}

.Skills {
  background-color: #c4c4c4;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.row {
  padding: 0 4px;
}

.row img {
  margin: 20px;
  vertical-align: middle;
  width: 10vw;
  height: auto;
}

.Education {
  min-height: 500px;
  background-color: #c4c4c4;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Education img {
  width: 10em;
  height: auto;
}

.SchoolInfo p,
.SchoolInfo h3 {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Helvetica Neue LT Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 1em;
  line-height: 38px;
  text-align: center;
  color: #000000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.Awards {
  background-color: #c4c4c4;
  display: flex;
  justify-content: center;
}

.AwardInfo p,
.AwardInfo h3 {
  font-family: Helvetica Neue LT Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 1em;
  line-height: 38px;
  color: #000;
  width: 30em;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.Footer {
  background-color: #4d4b4b;
  min-height: 19vh;
}

.ContactInfo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 50px;
  font-family: Helvetica Neue LT Pro;
  font-style: normal;
  font-weight: normal;
  font-size: clamp(0.5em, 1em, 1em);
  line-height: 43px;
  color: white;
}

.ContactInfo p {
  text-align: center;
  padding-right: 2rem;
  margin: 0;
}

.ContactInfo #github {
  height: 50%;
  padding-bottom: 10px;
}

.ContactInfo #linkedin {
  height: 50%;
  padding-bottom: 10px;
}

.SkillPage #SkillsSection {
  min-height: 71vh;
  padding-top: 10vh;
}

.Contact {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 81vh;
  background-color: #c4c4c4;
  font: 95% Arial, Helvetica, sans-serif;
  padding: 16px;
}

.Contact form {
  font: 95% Arial, Helvetica, sans-serif;
  max-width: 400px;
  margin: 10px auto;
  padding: 16px;
  background: #4d4b4b;
  margin: 0;
}

.Contact h1 {
  padding: 20px 0;
  font-size: 140%;
  font-weight: 300;
  text-align: center;
  color: #000;
  margin: 0;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: rgb(50, 121, 226);
  width: 403px;
  max-width: 403px;
}

.Contact input[type="text"],
.Contact textarea {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  outline: none;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 100%;
  background: #fff;
  margin-bottom: 4%;
  border: 1px solid #ccc;
  padding: 3%;
  color: #555;
}

.Contact input[type="text"]:focus,
.Contact textarea:focus {
  box-shadow: 0 0 5px #43d1af;
  padding: 3%;
  border: 1px solid #43d1af;
}

.Contact input[type="submit"] {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 100%;
  padding: 3%;
  background: rgb(50, 121, 226);
  border-bottom: 2px solid #30c29e;
  border-top-style: none;
  border-right-style: none;
  border-left-style: none;
  color: #fff;
}

.Contact input[type="submit"]:hover {
  background: rgb(9, 53, 119);
}

@media (max-width: 1420px) {
  .Home .Hero {
    align-items: center;
  }
  .Titles h1,
  .Titles h2,
  .topNav a {
    color: white;
    text-decoration: none;
  }
  .topNav a:visited {
    color: white;
  }
  .topNav a:hover {
    color: rgb(50, 121, 226);
    transition-duration: 0.5s;
  }
}
