* {
  text-align: center;
  margin: 0 0 0 0 auto;
}

html,body {padding:0; margin:0;}

.Hero {
  position: relative;
  text-align: center;
  background-image: url(./images/heroBackground.svg);
  height: 100vh;
  width: auto;
  background-size: cover;
  background-position: center;
}

.Hero h1 {
  position: absolute;
  font-family: Agency FB;
  font-style: normal;
  font-weight: normal;
  font-size: 3em;
  line-height: 85px;
  text-align: center;
  color: #000000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin:0;
  top: 55%;
  right: 17%;
}

.Hero h2#subtitle{
  position: absolute;
  margin: 0;
  text-align: center;
  width: 45%;
  font-family: Agency FB;
  font-style: normal;
  font-weight: normal;
  font-size: 2.5em;
  line-height: 85px;
  text-align: center;
  color: #000000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  top: 70%;
  left:50%;
}

.topNav {
  position: absolute;
  display: flex;
  flex-direction: row;
  top: 8px;
  right: 16px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: .75em;
  line-height: 28px;
  text-align: center;
  color: #000000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.topNav h2 {
  padding-left: 22px;
}

.Hero img{
  position:absolute;  
  border: 5px solid #000000;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 210px;
  right: 18%;
  top: 16%;
}

.About {
  min-height: 500px;
  background: #01458e;
  display: flex;
  justify-content: center;
  align-items: center;
}

.About img {
  padding-right: 16px;
}

.About p {
  font-family: Helvetica Neue LT Pro;
  font-style: normal;
  font-weight: normal;
  font-size: clamp(1rem, 2.5vw, 2rem);
  line-height: 2em;
  color: #ffffff;
  text-align: center;
  width: clamp(45ch, 50%, 75ch);
}

.Project {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  background: #4d4b4b;
  font-family: Helvetica Neue LT Pro;
  font-style: normal;
  font-weight: normal;
}

.Project h1,
h2,
ul,
li {
  width: clamp(45ch, 85%, 75ch);
}
.Project h1 {
  /*font-size: 36px;*/
  font-size: clamp(1.2rem, 2.5vw, 3rem);
  line-height: 43px;
}

.Project h2 {
  font-size: clamp(1rem, 2vw, 2rem);
  line-height: 29px;
}

.Project ul {
  font-size: clamp(1rem, 1.5vw, 1.5rem);
  line-height: 29px;
}
.Project li {
  padding-top: 1rem;
  text-align: left;
}

.Skills {
  background-color: #01458e;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.row {
  padding: 0 4px;
}

.row img {
  margin: 20px;
  vertical-align: middle;
  width: 15vw;
  height: auto;
}

.Education {
  min-height: 500px;
  background-color: #4d4b4b;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Education img {
  width: 21vw;
  height: auto;
  padding-left: 1rem;
}

.SchoolInfo p,
.SchoolInfo h3 {
  font-family: Helvetica Neue LT Pro;
  font-style: normal;
  font-weight: normal;
  font-size: clamp(1rem, 2vw, 2rem);
  line-height: 38px;
  color: #ffffff;
  text-align: left;
}

.Awards {
  background-color: #01458e;
  display: flex;
  justify-content: center;
}

.AwardInfo p,
.AwardInfo h3 {
  font-family: Helvetica Neue LT Pro;
  font-style: normal;
  font-weight: normal;
  font-size: clamp(1rem, 2vw, 2rem);
  line-height: 38px;
  color: #ffffff;
  width: 30em;
  text-align: left;
}

.Footer {
  background-color: #4d4b4b;
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.Footer h3,
.Footer p {
  color: #ffffff;
}

.ContactInfo {
  padding-top: 50px;
  font-family: Helvetica Neue LT Pro;
  font-style: normal;
  font-weight: normal;
  font-size: clamp(1rem, 2vw, 2rem);
  line-height: 43px;
}

.ContactInfo h3,
.ContactInfo p {
  text-align: left;
}

.ContactInfo #github {
  height: 50px;
}

.ContactInfo #linkedin {
  height: 50px;
}

@media (max-width: 600px) {
  .About {
    flex-direction: column;
  }
  .About p {
    padding-bottom: 30px;
  }
  .About img {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .AwardInfo p,
  .AwardInfo h3 {
    text-align: center;
  }
  .Education {
    flex-direction: column;
  }
}
