* {
  text-align: center;
  margin: 0 0 0 0 auto;
}

html,
body {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

.Hero {
  position: relative;
  min-height: 100vh;
}

.Hero a {
  text-decoration: none;
  color: inherit;
}

.Hero a:hover {
  color: rgb(50, 121, 226);
  transition-duration: 0.5s;
}

.Hero #background {
  background-image: url(./images/heroBackground.jpg);
  background-position-x: -30%;
  clip-path: polygon(0 0, 59% 0, 29% 100%, 0% 100%);
  height: 100vh;
  width: auto;
  background-size: contain;
  background-repeat: no-repeat;
}

.Hero #color {
  position: absolute;
  height: 100vh;
  width: 99vw;
  background-color: #c4c4c4;
}

.Hero h1 {
  position: absolute;
  font-family: Agency FB;
  font-style: normal;
  font-weight: normal;
  font-size: 3em;
  line-height: 85px;
  text-align: center;
  color: #000000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin: 0;
  top: 55%;
  right: 20%;
}

.Hero h2#subtitle {
  position: absolute;
  margin: 0;
  text-align: center;
  width: 45%;
  font-family: Agency FB;
  font-style: normal;
  font-weight: normal;
  font-size: 2.5em;
  line-height: 85px;
  text-align: center;
  color: #000000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  top: 70%;
  left: 50%;
}

.topNav {
  position: absolute;
  display: flex;
  flex-direction: row;
  top: 8px;
  right: 16px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 0.75em;
  line-height: 28px;
  text-align: center;
  color: #000000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.topNav h2 {
  padding-left: 22px;
}

.Hero img {
  position: absolute;
  border: 5px solid #000000;
  border-radius: 210px;
  right: 18%;
  top: 16%;
}

.About {
  min-height: 500px;
  background: #c4c4c4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.About p {
  padding-top: 50px;
  font-family: Helvetica Neue LT Pro;
  font-style: normal;
  font-weight: normal;
  text-align: center;
  letter-spacing: 0.05em;
  color: #171717;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: clamp(1rem, 1.5em, 2rem);
  line-height: 2em;
  width: clamp(45ch, 50%, 75ch);
}

.Project {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #c4c4c4;
  min-height: 500px;
}

.Project h1 {
  font-family: Unispace;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 77px;
  text-align: center;
  color: #1b75b3;
  text-shadow: 0px 10px 4px rgba(0, 0, 0, 0.3);
}

/*
.Project h1,
h2,
ul,
li {
  width: clamp(45ch, 85%, 75ch);
}
.Project h1 {
  /*font-size: 36px;
  font-size: clamp(1.2rem, 2.5vw, 3rem);
  line-height: 43px;
}

.Project h2 {
  font-size: clamp(1rem, 2vw, 2rem);
  line-height: 29px;
}

.Project ul {
  font-size: clamp(1rem, 1.5vw, 1.5rem);
  line-height: 29px;
}
.Project li {
  padding-top: 1rem;
  text-align: left;
}
*/
.Skills {
  background-color: #c4c4c4;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.row {
  padding: 0 4px;
}

.row img {
  margin: 20px;
  vertical-align: middle;
  width: 10vw;
  height: auto;
}

.Education {
  min-height: 500px;
  background-color: #c4c4c4;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Education img {
  width: 10vw;
  height: auto;
  padding-left: 1rem;
}

.SchoolInfo p,
.SchoolInfo h3 {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Helvetica Neue LT Pro;
  font-style: normal;
  font-weight: normal;
  font-size: clamp(1rem, 2vw, 2rem);
  line-height: 38px;
  text-align: center;
  color: #000000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.Awards {
  background-color: #c4c4c4;
  display: flex;
  justify-content: center;
}

.AwardInfo p,
.AwardInfo h3 {
  font-family: Helvetica Neue LT Pro;
  font-style: normal;
  font-weight: normal;
  font-size: clamp(1rem, 2vw, 2rem);
  line-height: 38px;
  color: #000;
  width: 30em;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.Footer {
  background-color: #4d4b4b;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
}

.ContactInfo {
  display: flex;
  flex-direction: row;
  padding-top: 50px;
  font-family: Helvetica Neue LT Pro;
  font-style: normal;
  font-weight: normal;
  font-size: clamp(1rem, 2vw, 2rem);
  line-height: 43px;
  color: white;
}

.ContactInfo p {
  text-align: center;
  padding-right: 2rem;
  margin: 0;
}

.ContactInfo #github {
  height: 50px;
  padding-bottom: 10px;
}

.ContactInfo #linkedin {
  height: 50px;
  padding-bottom: 10px;
}

@media (max-width: 600px) {
  .About {
    flex-direction: column;
  }
  .About p {
    padding-bottom: 30px;
  }
  .About img {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .AwardInfo p,
  .AwardInfo h3 {
    text-align: center;
  }
  .Education {
    flex-direction: column;
  }
}
